version: "3"
services:
  redis:
    image: "redis:latest"
    container_name: redis
    environment:
      - JAVA_TOOL_OPTIONS=-XX:UseSVE=0
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  castlemock:
    image: castlemock/castlemock:latest
    container_name: castlemock
    ports:
      - "9000:8080"
    environment:
      CASTLEMOCK_PERSISTENCE: file

networks:
  hmpps:
