version: "3"
services:
  redis:
    image: "redis:latest"
    container_name: redis
    environment:
      - JAVA_TOOL_OPTIONS=-XX:UseSVE=0
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"

networks:
  hmpps:
