name: Run gradle checks
on:
  workflow_call:
    inputs:
      java-version:
        type: string
        required: false
        default: '21'
      java-options:
        description: Any JAVA_OPTS that need to be set.  Not normally required when using github actions
        type: string
        default: ''
        required: false
      gradle-command:
        description: The gradle command to execute
        type: string
        default: './gradlew check'
        required: false
      localstack-tag:
        description: Optionally, start a localstack service with this tag
        type: string
        required: false
      localstack-services:
        type: string
        default: 'sqs,sns'
        required: false
      postgres-tag:
        description: Optionally, start a postgres service with this tag
        type: string
        required: false
      postgres-db:
        type: string
        default: 'postgres'
        required: false
      postgres-username:
        type: string
        default: 'root'
        required: false
      postgres-password:
        type: string
        default: 'dev'
        required: false
      redis-tag:
        description: Optionally, start a redis service with this tag
        type: string
        required: false
      artifact-name:
        description: Unique name (across the pipeline) for the uploaded artifact
        type: string
        default: 'test-results'
        required: false
      build-artifact-name:
        description: Unique name (across the pipeline) for the uploaded build artifact
        type: string
        default: 'build-results'
        required: false
      build-dir:
        description: Path to find the artifacts e.g. necessary for multi-project gradle builds.
        type: string
        default: 'build'
        required: false
      upload-test-artifacts:
        description: Whether to upload test artifacts and generate test report
        type: boolean
        default: true
        required: false
      upload-build-artifacts:
        description: Whether to upload the uber jar and other required artifacts to build a docker image
        type: boolean
        default: false
        required: false
permissions:
  contents: read
jobs:
  gradle-verify:
    name: Verify the gradle app
    runs-on: ubuntu-latest
    services:
      localstack:
        image: ${{ inputs.localstack-tag && format('localstack/localstack:{0}', inputs.localstack-tag) || '' }}
        env:
          ES_PORT_EXTERNAL: 4571
          DOCKER_HOST: 'unix:///var/run/docker.sock'
          AWS_EXECUTION_ENV: True
          PERSISTENCE: 1
          SERVICES: "${{ inputs.localstack-services }}"
        options: >-
          --name localstack
          --health-cmd "curl -sS 127.0.0.1:4566 || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 4566:4566
          - 4571:4571
      postgres:
        image: ${{ inputs.postgres-tag && format('postgres:{0}', inputs.postgres-tag) || '' }}
        env:
          POSTGRES_USER: ${{ inputs.postgres-username }}
          POSTGRES_PASSWORD: ${{ inputs.postgres-password }}
          POSTGRES_DB: ${{ inputs.postgres-db }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: ${{ inputs.redis-tag && format('redis:{0}', inputs.redis-tag) || '' }}
        ports:
          - 6379:6379
        options: --health-cmd="redis-cli ping" --health-interval=10s --health-timeout=5s --health-retries=5
        env:
          ALLOW_EMPTY_PASSWORD: yes
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '${{ inputs.java-version }}'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run checks with gradle
        shell: bash
        run: |
          export JAVA_OPTS="${{ inputs.java-options }}"
          ${{ inputs.gradle-command }}
      - name: Upload the test artifacts
        if: ${{ inputs.upload-test-artifacts && !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.artifact-name }}
          path: |
            ${{ inputs.build-dir }}/test-results
            ${{ inputs.build-dir }}/reports/tests
            ${{ inputs.build-dir }}/reports/jacoco
      - name: Upload the build artifacts
        if: ${{ inputs.upload-build-artifacts && !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.build-artifact-name }}
          path: |
            ${{ inputs.build-dir }}/libs
          retention-days: 1
      - name: publish test report
        if: ${{ inputs.upload-test-artifacts && !cancelled() && github.event.repository.visibility == 'public' }}
        uses: dorny/test-reporter@v2
        with:
          artifact: ${{ inputs.artifact-name }}
          name: Test Report
          path: 'test-results/**/*.xml'
          reporter: java-junit
          fail-on-empty: false
          fail-on-error: false
          list-suites: 'failed'
          list-tests: 'failed'
